<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    
    <% include head %>

    <%- req.flash('error') %>
    <%- req.flash('usrTaken') %>

    <div class="container">
      <form class="form-horizontal" action="/createaccount" method="POST">
        <fieldset>
          <legend>Sign Up</legend>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Nickname</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputEmail" name="user" placeholder="Nickname" required autofocus>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <a href="/" class="btn btn-default">Cancel</a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div> <!-- /container -->

    <% include footer %>

  </body>
</html>